.top-section {
    height:20px;
}
.left-section {
    float: left;
    width: 50%;
}
.center-section {
    float: left;
    width: 800px;
    margin-left: -400px;
}
.navigation {
    height:30px;
    float: right;
    /*background: red;*/
    font-weight: bold;
}
.left {
    float:left;
}
.center {
    float:left;
    width: 100%;
}
.logo {
    background-image: url("../image/logo.png");
    width: 214px;
    height: 151px;
}
.logo-small {
    background-image: url("../image/logo-small.png");
    width: 107px;
    height: 76px;
}
.hidden {
    display:none;
}
body {
    font-family: sans-serif;
}
