.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  z-index: 100;
  background-color: #FFF;
  border: 5px solid #555;
  padding: 25px 50px;
  border-radius: 25px;
}

.popup .text {
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 40px;
}

@media (orientation: portrait) {
  .popup .text {
    font-size: 6vw;
  }
}

.popup ul.actions {
  text-align: right;
  list-style-type: none;
  padding: 5px 0;
}

.popup ul.actions li {
  display: inline;
}

.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:rgba(82, 82, 82, 0.7);
}

